/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

/*--------------------*/

html,
body {
  height: 100%;
  margin: 0;
}


body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
}

#game-frame{
  border: solid 2px purple;
  width: 650px;
  height: 600px;
  position: absolute;
}

#game-frame nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}
#scroe-table{
  font-weight: 500;
  font-size: 25px;
  border-bottom: #3E41DE 1px solid;
}

button{
  width: 100px;
  height: 30px;
  background: #3E41DE;
  border-radius: 9px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;

}
button:hover{
  background:#2292F9;
}
button:active{
  background:#2292F9;
  box-shadow: inset 0px 6px 6px rgba(0, 0, 0, 0.25);
}




#canvas {
  border: 1px solid red;
  width: 600px;
  height: 400px;
  position: absolute;
  left: 25px;
  top: 125px;
  background-color: gray;
}





#snakeHead{
  width: 25px;
  height: 25px;
  position:absolute;
  border: 1px solid white;
  background-color: #013220;
  z-index: 99;
  box-sizing: border-box;
}
.snakeElem{
  width: 25px;
  height: 25px;
  position: absolute;
  border: 1px solid white;
  background-color: green;
  z-index: 9;
  box-sizing: border-box;
}
#foodElem{
  width: 25px;
  height: 25px;
  position: absolute;
  border: 1px solid white;
  background-color: red;
  box-sizing: border-box;
  z-index: 99;
}
